nav{
  display: flex;
  gap:34px;
  background-color:hsl(271, 36%, 39%);
  color:white;
  
}
li{
  color:wheat;
  padding: 23px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
}
a li{
  color:white;
}
*{
  padding:0;
  margin:0;

}
.violet{
  background-color:hsla(175, 58%, 47%, 0.463);
  color:floralwhite
}